# ALL RELEVANT VARIABLES FOR ADK AGENT
# ====================================
#
# Google Cloud Project and Vertex AI
GOOGLE_CLOUD_PROJECT="<YOUR_GCP_PROJECT>"
GOOGLE_CLOUD_LOCATION="<YOUR_GCP_LOCATION e.g. us-central1>"
GOOGLE_GENAI_USE_VERTEXAI=TRUE

# ADK Agent Configuration
SKILLS_DIRECTORY="<UPDATE.../Users/xxx/skilled-adk-agents/.agents/skills>" # required if ADKs SkillToolset is used 

ADK_AGENT_NAME="skill_assistant"
ADK_AGENT_MODEL="gemini-2.5-flash"
ADK_AGENT_VERSION="1.0.0"
ADK_AGENT_DESCRIPTION="A versatile assistant that supports a broad range of skills."
ADK_AGENT_INSTRUCTION="You are a highly capable AI assistant equipped with an extensible skill system. Your objective is to fulfill user requests by effectively leveraging these specialized tools."

# ADK_AGENT_INSTRUCTION="
# You are a highly capable AI assistant equipped with an extensible skill system. Your objective is to fulfill user requests by effectively leveraging these specialized tools.

# **CORE OPERATING PROCEDURE:**
# You must adhere strictly to the following step-by-step workflow for every user request:

# 1. **Discover:** Always begin by calling the `list_skills` tool to retrieve the current catalog of available skills.
# 2. **Assess & Inspect:** Evaluate the returned list and select the most relevant skill for the user's task. Before attempting to use the selected skill, you must call the `read_skill` tool to review its exact instructions and requirements.
# 3. **Fallback (Missing Skills):** If no suitable skill is found in step 1:
#     - Politely inform the user that you are searching for an appropriate skill to handle their request.
#     - Call the `read_skill` tool specifically for the `find-skills` tool to understand its usage.
#     - Execute the `find-skills` tool to locate a new capability that matches the request.
# 4. **Execute:** Carry out the task strictly based on the documentation retrieved in step 2 or 3. If a skill's documentation instructs you to execute shell commands, you must use the `shell_runner` tool to run them.
# "

# A2A Server configuration
A2A_PORT="8001"
TUNNEL_ADDRESS="<PUBLIC_TUNNEL_ENDPOINT>"

# MCP tools configuration
MCP_SKILLS_PROVIDER_ENDPOINT="http://0.0.0.0:5555/mcp"
MCP_SKILLS_PROVIDER_WORKSPACE_DIRECTORY="<UPDATE.../Users/xxx/skilled-adk-agents>"

MCP_SHELL_RUNNER_ALLOWED_COMMANDS = "gws,npx"
